<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="utf-8">
    <title>Lista Telefonica</title>
    <script src="lib/angular-1.5.8/angular.js"></script>
    <script src="lib/angular-1.5.8/angular-messages.js"></script>
    <script src="lib/angular-1.5.8/i18n/angular-locale_pt-br.js"></script>

    <link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <style>
        .jumbotron {
            width: 600px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
        }
        .table {
            margin-top: 20px;
        }
        .form-control {
            margin-bottom: 5px;

        }
        .selecionado {
            background-color: yellow;
        }
        .selecionado {
            font-weight: bold;
        }
    </style>

    <script>

        angular.module('listaTelefonica', ["ngMessages"]);

        angular.module('listaTelefonica').controller('listaTelefonicaCtrl',function($scope, $filter){
            $scope.app = 'Lista Telefonica';
            $scope.contatos = [
                {nome: $filter('uppercase')("Pedro"), telefone:"3333-3333" , cor: "blue", data: new Date(), operadora:{nome:"Oi", codigo: 14, categoria:"Celular"}},
                {nome: "Ana"   , telefone:"22222-2222"    , cor: "yellow", data: new Date(), operadora:{nome:"TIM", codigo: 41, categoria:"Celular"}},
                {nome: "Maria", telefone:"1111-1111"  , cor: "red", data: new Date(), operadora:{nome:"GVT", codigo: 25, categoria:"Fixo"}},
                {nome: "Sandra", telefone:"99999-9999"  , cor: "green", data: new Date(), operadora:{nome:"Embratel", codigo: 21, categoria:"Fixo"}},
            ];
            $scope.operadoras = [
                {nome:"Oi", codigo: 14, categoria:'Celular', preco: 1},
                {nome:"Vivo", codigo: 15, categoria:'Celular', preco: 3},
                {nome:"TIM", codigo: 41, categoria:'Celular', preco: 2},
                {nome:"GVT", codigo: 25, categoria:'Fixo', preco: 4},
                {nome:"Embratel", codigo: 21, categoria:'Fixo', preco: 5}
            ];

            $scope.adicionarContato = function (contato) {
                //copy para que não fique alterando
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            };

            $scope.apagarContato = function (contatos) {
                // filtra apenas contatos que NÃO estao selecionados
                $scope.contatos = contatos.filter(function(contato){
                    if (!contato.selecionado) return contato;
                });
            };

            $scope.isContatoSelecionado = function (contatos) {
                // se pelo menos um contatos esta selecionado retorna TRUE
                return  contatos.some(function(contato){
                    return contato.selecionado;
                });
            };

            $scope.ordernarPor = function (campo) {
                $scope.criterioDeOrdenacao = campo;
                $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
            };


        });

    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <!-- <h3 ng-bind="app"></h3> -->
        <!-- ou -->
        <h4>{{app}}</h4>

        <!-- ou -->
        <!-- <h4>{{app + '  (Juliano)'}}</h4> -->

        <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você esta buscando?"> <!-- filter 'filter' -->
        <table class="table " ng-show="contatos.length > 0"> <!-- table-striped -->
            <thead>
            <tr>
                <th></th>
                <th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
                <th>Operadora</th>
                <th>Data</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-class="{'selecionado negrito':  contato.selecionado}" ng-repeat="contato in contatos | filter:{nome:criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao"> <!-- filter 'filter' filtrando apenas no campo nome. ("filter:criterioDeBusca" filtra em qq coluna||| orderBy:'-nome' == DESC == orderBy:'nome':true)-->
                    <td><input type="checkbox" ng-model="contato.selecionado" /></td>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone | limitTo:10}}</td> <!-- filter 'limitTo' pode ser usado para string e/ou array -->
                    <td>{{contato.operadora.nome | lowercase}}</td> <!-- filter 'lowercase' -->
                    <td>{{contato.data | date:'dd/MM/yyyy HH:mm:ss'}}</td> <!-- filter 'date' -->
                    <td><div style="width: 20px; height: 20px;" ng-style="{'background-color':contato.cor}"></div></td>
                </tr>
                <!-- ou -->

                <!-- <tr ng-repeat="contato in contatos">
                    <td ng-repeat="(key,value) in contato">
                    {{key + '  -  ' + value}}
                    </td>
                </tr> -->
            </tbody>
        </table>
        <hr>

        <form name="contatoForm"> <!-- é criado automaticamente um variavel no $scope -->
            <input class="form-control" type="text" name="nome"     placeholder="Nome"     ng-model="contato.nome"     ng-required="true" ng-minlength="10">
            <input class="form-control" type="text" name="telefone" placeholder="Telefone" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
            <!-- para fazer group por categoria
            <select class="form-control"  ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
            -->
            <select class="form-control"  ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) +' )' for operadora in operadoras | orderBy:'nome'">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>



        <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
            <div ng-message="required">
                Preencha o nome do contato
            </div>
            <div ng-message="minlength" >
                O nome do contato deve ter no mínimo 10 caracteres.
            </div>
        </div>


        <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
            Preencha o telefone do contato
        </div>
        <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
            O telefone deve estar no formato DDDDD-DDDD
        </div>



        <!-- <br>
        {{contato}} -->
        <br>
        <button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid" ng-click="adicionarContato(contato)">Add</button>
        <!--

            exemplo ng-disabled
        <button class="btn btn-danger btn-block"  ng-disabled="!isContatoSelecionado(contatos)"     ng-click="apagarContato(contatos)">Remove</button>

            exemplo ng-show e/ou ng-hide (elemento permanece no html)
        <button class="btn btn-danger btn-block"  ng-show="isContatoSelecionado(contatos)"     ng-click="apagarContato(contatos)">Remove</button>

            exemplo ng-if (interage com o DOM, elemento so é criado no html quando atende a expressão)
        <button class="btn btn-danger btn-block"  ng-if="isContatoSelecionado(contatos)"     ng-click="apagarContato(contatos)">Remove</button>

        -->
        <button class="btn btn-danger btn-block"  ng-if="isContatoSelecionado(contatos)"     ng-click="apagarContato(contatos)">Remove</button>




    </div>

    <div ng-include="'footer.html'"></div>

</body>
</html>